*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ADD8E6;
  font-family: 'Nerko One', cursive;
}

header{
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  color: #fff;
  font-size: 30px;
}
main .main-container {
  margin:auto;
  width: 50%;
  height:80vh;
  background-color: #fff;
}

.main-container .row{
  height: calc(100% / 3);

}

.main-container .card-box{
  float: left;
  width: calc(100% / 4 );
  height: 100%;
  background-color: red;
}

.card{
  position: relative;
  top: 5%;
  border-radius: 5%;
  background-color: blue;
  height: 90%;
  width: 85%;
  margin:auto;

}

footer{
  height: 10vh;
  text-align: center;
  padding-bottom: 5vh;
  padding-top: 2vh;
  font-size: 14px;
}
