*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ADD8E6;
  font-family: 'Nerko One', cursive;
  text-shadow: 1px 1px 2px rgba(25, 25, 26, 0.5);
}

header{
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  color: #fff;
  font-size: 30px;
}
main .main-container {
  margin:auto;
  width: 50%;
  height:80vh;
}

.main-container .row{
  height: calc(100% / 3);

}

.main-container .card-box{
  float: left;
  width: calc(100% / 4 );
  height: 100%;
}

.card{
  position: relative;
  top: 5%;
  border-radius: 5%;
  background-image: url(../img/pattern.png);
  background-size: contain;
  height: 90%;
  width: 85%;
  margin:auto;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.4);
  position:relative;

}

#scoperta{
background-image: url(../img/noun_air_balloon_3134741.png);
background-size: 75%;
background-position: center;
background-repeat: no-repeat;
background-color: #fff;
}

.card > h3.didascalia{
  font-size: 20px;
  color:#e67919;
  position: absolute;
  transform: translate(-50%);
  bottom: 4%;
  left:50%;
}

h3.didascalia.nota{
  color: #e61986;
}

h3.didascalia.nascosta{
  display:none;
}

.card:hover h3.didascalia.nascosta{
  display:block;
}

.card:hover{
  display:block;
  background-image: url(../img/noun_air_balloon_3134741.png);
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
}

.card.tractor:hover{
  background-image: url(../img/noun_Tractor_3134797.png);
}

.card.bicycle:hover{
  background-image: url(../img/noun_Bicycle_3134821.png);
}

.card.ship:hover{
  background-image: url(../img/noun_Cruise_Ship_3134824.png);
}

.card.tram:hover{
  background-image: url(../img/noun_Tram_3134750.png);
}

.card.submarine:hover{
  background-image: url(../img/noun_Submarine_3134738.png);
}



footer{
  height: 10vh;
  text-align: center;
  padding-bottom: 5vh;
  padding-top: 2vh;
  font-size: 12px;
}
